.content-wrapper {
  position: relative;
}

.content-wrapper::after {
  content: "";
  position: absolute;
  top: 50%; /* Center vertically */
  left: 0;
  transform: translateY(-50%); /* Adjust to center vertically */
  width: 0.5rem; /* Adjust width as needed */
  height: 100%;
  border-radius: 0%; /* This will make it a circle */
  background-color: rgba(33, 75, 62, 1); /* Correctly format rgba */
  z-index: -1; /* Place it behind the content */
}
