/* styles.css */
.nav-link {
  padding: 16px 24px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
}

.nav-link.active {
  background-color: #295e4e;
  color: #fff;
}
